*{
padding: 0;
margin: 0;

}


.cardList{
  border:1px solid green;
  margin: 0 auto; 
  padding: 5;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 600px;

}


.card{
  border:1px solid green;
  margin: 50px;
  padding: 20px;
  text-align: left;
  

}

.card ul{
  list-style: none;
}