.box{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border: 1px solid #000;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  /* background-color: blue; */
}