*{


}
body{
  font-family: 'Bangers', cursive;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Prompt', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3e9ed+0,2c89cc+100 */
background: #e3e9ed; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #e3e9ed 0%, #2c89cc 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #e3e9ed 0%,#2c89cc 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #e3e9ed 0%,#2c89cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e9ed', endColorstr='#2c89cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
header{
  position: relative;
}
.page-title{
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 3px;
    font-size: 2.5em;
    position: relative;
    margin: 0 auto;
    float: right;
    margin-right: 40px;
    background-color: #fc0018;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
}

/* #totalArea-1 p{
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 3px;
    font-size: 2.3em;
    left:67%;
    position: relative;
    /* float: right; */
    /* margin-right: 40px;
    top: 85px;
    text-shadow: 1px 1px 19px #efe708;
    margin-top: -8px;
} */ */


li{
  list-style: none;
}

#main{
  position: relative;
  width: 100%;
  height: 482px;
  left: 60px;

}
.mario {
    background-image: url(imgs/mario-2.png);
    background-size: contain;
    width: 284px;
    height: 458px;
    background-repeat: no-repeat;
    position: relative;
    right: 18px;
    display: inline-block;
    bottom: 24px;   

}

.pipe-short {
    background-image: url(imgs/Warp_Pipe-short.png);
    background-size: contain;
    width: 300px;
    height: 287px;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    display: inline-block;
    top: 164px;
       
   
}

.goombas{
    background-image: url(imgs/goombas-2.png);
    background-size: contain;
    width: 150px;
    height: 200px;
    background-repeat: no-repeat;
    position: relative;
    left: 52px;
    display: inline-block;
    bottom: 272px;
}
.coins-1{
background-image: url(imgs/gold-coin.png);
    background-size: contain;
    width: 66.1%;
    height: 42px;
    position: relative;
    display: inline-block;
    bottom: 251px;
    left: 36px;
}
div.coins-1::before {
    content: "5X";
    font-size: 2.5em;
    color: black;
    bottom:52px;
    font-family: 'Fredericka the Great', cursive;
    position: relative;
    left: 67px;
    text-shadow: 1px 1px 19px #efe708;

}
.coins-2{
    background-image: url(imgs/gold-coin.png);
    background-size: contain;
    width: 115.6%;
    height: 27px;
    position: relative;
    display: inline-block;
    bottom: 424px;
    right: 16px;
}
div.coins-2::before {
    content: "11X";
    font-size: 2.5em;
    color: black;
    bottom:52px;
    font-family: 'Fredericka the Great', cursive;
    position: relative;
    left: 84px;
    text-shadow: 1px 1px 19px #efe708;
}
.coins-3{
    background-image: url(imgs/gold-coin.png);
    background-size: contain;
    width: 77.1%;
    height: 42px;
    position: relative;
    display: inline-block;
    bottom: 385px;
    left: 32px;
}
div.coins-3::before {
    content: "7X";
    font-size: 2.5em;
    color: black;
    bottom:52px;
    font-family: 'Fredericka the Great', cursive;
    position: relative;
    left: 84px;
    text-shadow: 1px 1px 19px #efe708;
}


.pipe-tall {
background-image: url(imgs/Warp_Pipe-tall.png);
    background-size: contain;
    width: 200px;
    height: 425px;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    right: 9px;
    top: 210px;
}

.cheep{
    background-image: url(imgs/CheepCheeps-2.png);
    background-size: contain;
    width: 160px;
    height: 383px;
    background-repeat: no-repeat;
    position: relative;
    left: 28px;
    display: inline-block;
    bottom: 229px;
}

.pipe-mid {
background-image: url(imgs/Warp_Pipe-mid.png);
    background-size: contain;
    width: 300px;
    background-repeat: no-repeat;
    position: relative;
    right: 0;
    display: inline-block;
    top: 165px;
    height: 420px;
   
}

.bob-omb{
    background-image: url(imgs/Bob-omb-2.png);
    background-size: contain;
    width: 180px;
    height: 333px;
    background-repeat: no-repeat;
    position: relative;
    left: 56px;
    display: inline-block;
    bottom: 270px;
}

.goo-caught {
    position: relative;
    bottom:137px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Fredericka the Great', cursive;
    color: #0f3327;
    text-shadow: 1px 1px 9px #09ff00;
}
.cheep-caught {
    position: relative;
    bottom: 183px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Fredericka the Great', cursive;
    color: #0f3327;
    text-shadow: 1px 1px 9px #09ff00;
} 
.bomb-caught {
    position: relative;
    bottom: 138px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Fredericka the Great', cursive;
    color: #0f3327;
    text-shadow: 1px 1px 9px #09ff00;
    margin-bottom: 3px;
}

input[type="text"] {
    height: 50px;
    width: 60px;
    background-color: #144819;
    border-radius: 4px;
    margin-top: 9px;
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
}

p#resultOne {
    right: 0;
    position: relative;
}

#resultOne::before {
    content:"Total: $";
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 3px;
    font-size: 2.3em;
    left:67%;
    position: relative;
    margin-right: 40px;
    top: 36px;
    text-shadow: 1px 1px 19px #efe708;
    margin-top: -8px;
}

div#totalArea {
    visibility: hidden;
}

button#addBtn {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    right: 209px;
    top: 24px;
    font-size: 2em;
    color: red;
    font-family: 'Fredericka the Great', cursive;
}



footer{
    position: relative;
    height: 75px;
    font-size: 14px;
    background-image: url(imgs/brick_block.png);
    background-size: contain;
    top: 39px;
}
footer ul{
    position: relative;
    /* top: 20px; */
}
footer li.right-info{
  position: absolute;
  right: 40px;
    top: 37px;
    background-color: #fff;
    padding: 0 10px;
}
.email:hover {
    color: #3F51B5;
    font-size: 1.1em;
    text-decoration: underline;
    cursor: pointer;
}
.email {
    color: #000000;
    font-size: 1.1em;
    text-decoration: none;
}
.website:hover {
    color: #3F51B5;
    font-size: 1.1em;
    text-decoration: underline;
    cursor: pointer;
}
.website {
    color: #000000;
    font-size: 1.1em;
    text-decoration: none;
}


footer li.left-info{
    position: absolute;
    left: 40px;
    top: 37px;
    background-color: #fff;
    padding: 0 10px;

}